.presentation {
  &__container {
    @extend %container;
  }

  &__image {
    max-width: 100%;
    height: auto;

    @include onTablet {
      display: block;
      margin: 0 auto;
    }

    @include hover(transform, scale(1.05));
  }
}
